daemon={{ddclient_daemon}}
syslog=yes
mail={{ddclient_mail}}
mail-failure={{ddclient_mail_failure}}
pid=/var/run/ddclient.pid
protocol={{ddclient_protocol}}
use={{ddclient_use}}
ssl={{ddclient_ssl}}
server={{ddclient_server}}
login={{ddclient_login}}
password='{{ddclient_pw}}'
{{ddclient_domains}}
